extends ../_layout

include ../_mixins/_events-list

block content
    div(id="search-form")
        h3
            | Search:
        form.form-inline(action="/search" method="get")
            input.form-control(type="text" name="pattern")
            button.btn.btn-danger
                span.glyphicon.glyphicon-search

    +events-list(result.events)