extends ../_layout.pug

block content
    .info-container
        h1 
            =name
        h5 
            | Organiser: 
            =organiser.username
        h5 
            | Location: 
            | x: 
            =location.xCoord
            | y: 
            =location.yCoord
        h5 
            | Date: 
            =eventDate
        h2.allign-right 
            | Description: 
            =description
        h5 
            | Picture: 
        img.profile-pic(src="" + imageUrl)

        h3
            | Participants:
        ul
            each participant in participants
                li
                    =participant.username