extends ../_layout

block content
    .info-container
        h1 
            =result.username
            | 's profile:
        h5 
            | Username: 
            =result.username
        h2.allign-right 
            | Description: 
            =result.description
        h5 
            | Picture: 
        img.profile-pic(src="../static/images/profile.png")
    .events-container
        | My events:


